      <hr />
      <footer>
        <p style="text-align:center;">Hades 2014</p>
      </footer>
    </div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>